@import "helper_mixins";

.game {
}

.message {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.board {
  position: relative;
  display: grid;
  gap: 0.5rem;
  min-width: 22rem;
  max-width: 100%;
  min-height: 22rem;
  max-height: 100%;

  &.blocked {
    pointer-events: none;
  }

  .tile {
    @include flex(row, center, center);
    padding-top: 0.4rem;
    background-color: gray;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .stroke {
    @include position(absolute, -1rem, $left: -1rem);
    height: 0.5rem;
    width: 0;
    border-radius: 9999rem;
    background: #df0606;
    transform-origin: 0 0;
    transition: width 1s 0.25s;

    &.horizontal.draw { width: 24rem; }
    &.vertical.draw { width: 24rem; }

    &.diagonal-left-to-right {
      left: -0.65rem;

      &.draw {
        width: 33.4rem;
        transform: rotate(45deg);
      }
    }

    &.diagonal-right-to-left {
      top: -0.55rem;
      left: 22.95rem;

      &.draw {
        width: 33.4rem;
        transform: rotate(135deg);
      }
    }
  }
}
