@import "helper_mixins";

/* ---------------------------- header ---------------------------- */
header {
  @include position(fixed, 0, $zindex: 10);
  width: 100%;
  padding: 0.5rem;
  background: #1e2228;

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

/* ---------------------------- menu ---------------------------- */
.step1 {
  @include flex(column, center, flex-start);
  margin: 4rem 0;

  .versus-type {
    h2 { display: none; }
    .active { display: block; }
  }
  
  .versus {
    @include flex(row, center, space-between);
    min-width: 22rem;
    margin-bottom: 1rem;
  }
  
  .gamemode {
    @include flex(column, center, center);
    margin-top: 1rem;
  }
}

.step2 {
  @include flex(column, center, flex-start);
  margin: 4rem 0;
  
  .player {
    @include flex(row, center, center);
    min-width: 22rem;
    margin-bottom: 1rem;

    .square-btn {
      width: 8rem;
      height: 8rem;
      margin: 0 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;

      i {
        margin-bottom: 0.5rem;
      }
    }
  }
  
  .type {
    @include flex(column, center, center);
    margin-top: 1rem;
  }
}

/* ---------------------------- footer ---------------------------- */
footer {
  @include position(fixed, $bottom: 0);
  @include flex(row, center, center);
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;

  a {
    color: white;

     i {
      margin-left: 0.5rem;
      font-size: 1.5rem;
     }
  }
}
