@import "helper_mixins";

.game {
  margin: 5rem 0 3rem 0;
}

.game .message {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.game .players {
  @include flex(row, center, space-between);
  min-width: 22rem;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.board {
  position: relative;
  display: grid;
  gap: 0.5rem;
  min-width: 22rem;
  max-width: 100%;
  min-height: 22rem;
  max-height: 100%;

  &.blocked {
    pointer-events: none;
  }

  .tile {
    @include flex(row, center, center);
    background-color: gray;
    font-weight: bold;
    cursor: pointer;
  }

  .stroke {
    @include position(absolute, -0.75rem, $left: -0.75rem);
    height: 0.5rem;
    width: 0;
    border-radius: 9999rem;
    background: #df0606;
    transform-origin: 0 0;
    transition: width 1s 0.25s;

    &.horizontal.draw {
      width: 23.5rem;
    }
    &.vertical.draw {
      width: 23.5rem;
    }

    &.diagonal-left-to-right {
      top: -0.78rem;
      left: -0.44rem;

      &.draw {
        width: 32.9rem;
        transform: rotate(45deg);
      }
    }

    &.diagonal-right-to-left {
      top: -0.48rem;
      left: 22.85rem;

      &.draw {
        width: 32.9rem;
        transform: rotate(135deg);
      }
    }
  }
}

.game .mode {
  margin-top: 1rem;

  div {
    display: inline-block;
  }
}

.buttons {
  @include flex(row, center, center);
  gap: 0.5rem;
  min-width: 22rem;
  max-width: 100%;
  margin-top: 1rem;
}

.quit,
.replay {
  flex-grow: 1;
  padding: 0.75rem;
  font-size: 1.25rem;
  min-width: 5rem;
}
