@import "helper_mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Varela Round", sans-serif;
  font-size: inherit;
  letter-spacing: 0.05em;
  color: inherit;
}

html {
  font-size: 14px;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  @include flex(column, center, center);
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
  padding-bottom: 0;
  background: #2f3640;
  color: white;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

html:lang(pl) span.en,
html:lang(en) span.pl {
  display: none;
}

span {
  font-size: inherit;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.square-btn {
  position: relative;
  @include flex(column, center, center);
  width: 7rem;
  height: 7rem;
  background: #213d8b;
  cursor: pointer;

  i {
    font-size: 3rem;
  }

  &.active {
    border: 2px solid white;
    background: #16295b;
  }

  &:disabled {
    background-color: #4b4c50;
    pointer-events: none;
  }
}

.rect-btn {
  min-width: 22rem;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  background: #213d8b;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: #16295b;
  }

  &:disabled {
    background-color: #4b4c50;
    pointer-events: none;
  }
}

.info-button {
  @include position(fixed, $bottom: 1vw, $right: 1vw, $zindex: 15);
  @include flex(column, center, center);
  width: 3.5rem;
  height: 3.5rem;
  border: 4px solid whitesmoke;
  border-radius: 100%;
  background: #343B45;
  font-size: 1.75rem;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;

  i {
    margin-top: -0.2rem;
    margin-right: -0.2rem;
  }

  &:hover {
    background: whitesmoke;
    color: #2f3640;
  }
}

.info {
  @include position(fixed, $bottom: 1vw, $right: 1vw, $zindex: 10);
  background: #343B45;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2rem;
  transition: width 1s, height 1s, border-radius 1s, transform 1s;

  &.active {
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: translate(1vw, 1vw);
  }
}

