@import "helper_mixins";

.menu {
  margin: 5rem 0 3rem 0;
}

.step1 {
  @include flex(column, center, flex-start);

  .versus-type {
    h2 {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .versus {
    @include flex(row, center, space-between);
    min-width: 22rem;
    margin-bottom: 2rem;
  }

  .gamemode {
    @include flex(column, center, center);
  }
}

.step2 {
  @include flex(column, center, flex-start);

  .player {
    @include flex(row, center, center);
    min-width: 22rem;
    margin-bottom: 2rem;

    .square-btn {
      width: 8rem;
      height: 8rem;
      margin: 0 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;

      i {
        margin-bottom: 0.5rem;
      }
    }
  }

  .type {
    @include flex(column, center, center);
  }
}

.step3 {
  @include flex(column, center, flex-start);

  .size {
    width: 100%;
    margin-bottom: 2rem;

    .select {
      position: relative;
      width: 100%;

      &::after {
        content: "";
        @include position(absolute, 1.5rem, 1rem);
        width: 0.8em;
        height: 0.5em;
        background-color: white;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }

      select {
        appearance: none;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        background: #213d8b;
        cursor: pointer;
      }
    }
  }

  .marks {
    width: 100%;
    margin-bottom: 2rem;

    .players-marks {
      @include flex(row, center, center);
      gap: 3rem;
      width: 100%;
      font-size: 2rem;

      input {
        width: 4rem;
        padding: 0.25rem 0.75rem;
        font-size: 2rem;
        text-align: center;
        background: #213d8b;
      }
    }
  }

  .change {
    @include flex(row, center, center);
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.5rem;

    input {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.75rem;
    }
  }
}

/* ---------------------------- footer ---------------------------- */
footer {
  @include position(sticky, $top: 100vh);
  @include flex(row, center, center);
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;

  a {
    color: white;

    i {
      margin-left: 0.5rem;
      font-size: 1.5rem;
    }
  }
}
