@import "helper_mixins";

.menu {
  margin: 5rem 0 3rem 0;
}

.step1 {
  @include flex(column, center, flex-start);

  .versus-type {
    h2 {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .versus {
    @include flex(row, center, space-between);
    min-width: 22rem;
    margin-bottom: 1rem;
  }

  .gamemode {
    @include flex(column, center, center);
    margin-top: 1rem;
  }
}

.step2 {
  @include flex(column, center, flex-start);

  .player {
    @include flex(row, center, center);
    min-width: 22rem;
    margin-bottom: 1rem;

    .square-btn {
      width: 8rem;
      height: 8rem;
      margin: 0 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;

      i {
        margin-bottom: 0.5rem;
      }
    }
  }

  .type {
    @include flex(column, center, center);
    margin-top: 1rem;
  }
}

/* ---------------------------- footer ---------------------------- */
footer {
  @include position(sticky, $top: 100vh);
  @include flex(row, center, center);
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;

  a {
    color: white;

    i {
      margin-left: 0.5rem;
      font-size: 1.5rem;
    }
  }
}
