<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-control" content="public" />

    <title>TicTacToe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />

    <link rel="stylesheet" href="static/style/global.css" />
    <link rel="stylesheet" href="static/style/menu.css" />
    <link rel="stylesheet" href="static/style/game.css" />
  </head>

  <body>
    <!-- -------------- header -------------- -->
    <header>
      <h1><a href="/">TicTacToe</a></h1>
      <div class="language">
        <img class="active-lang-img" src="static/images/pl.png" alt="polish-flag">
        <div class="arrow"><i class="fa-solid fa-angle-up"></i></div>

        <div class="languages-list">
          <div>
            <img src="static/images/pl.png" alt="polish-flag">
            <span>PL</span>
          </div>

          <div>
            <img src="static/images/en.png" alt="english-flag">
            <span>EN</span>
          </div>
        </div>
      </div>
    </header>

    <!-- -------------- menu -------------- -->
    <div class="menu">
      <div class="step1">
        <h2>
          <span class="pl">Zagraj z komputerem</span>
          <span class="en">Play with computer</span>
        </h2>
  
        <div class="versus">
          <button class="square-btn option active" data-id="0" data-message="Zagraj z komputerem"><i class="fa-solid fa-desktop"></i></button>
          <button class="square-btn option" data-id="1" data-message="Zagraj z graczem na jednym urządzeniu"><i class="fa-solid fa-user"></i></button>
          <a href="/multiplayer" class="square-btn"><i class="fa-solid fa-users"></i></a>
        </div>
  
        <div class="gamemode">
          <button class="rect-btn option" data-id="0">Normalny XO 3x3</button>
          <button class="rect-btn option" data-id="1">Przesuwany XO 3x3</button>
          <button class="rect-btn option" data-id="2">Jeden znak X 4x4</button>
        </div>
      </div>

      <div class="step2" style="display: none;">
        <h2>Zacznij jako</h2>

        <div class="player">
          <button class="square-btn option active" data-id="0"><i class="fa-solid fa-circle-user"></i> Gracz 1</button>
          <button class="square-btn option" data-id="1"><i class="fa-solid fa-circle-user"></i> Gracz 2</button>
        </div>
  
        <div class="type">
          <button class="rect-btn option">Standardowy</button>
          <button class="rect-btn option">Odwrócony</button>
        </div>
      </div>
    </div>

    <!-- -------------- game -------------- -->
    <div class="game" style="display: none">
      <h2 class="message"></h2>

      <div class="players">
        <div class="p1"><i class="fa-solid fa-user"></i> P1 - <span class="p1-mark">X</span></div>
        <div>Grasz jako P<span class="player-start">1</span></div>
        <div class="p1"><i class="fa-solid fa-user"></i> P2 - <span class="p2-mark">O</span></div>
      </div>

      <div class="board"></div>

      <div class="buttons">
        <a href="/" class="rect-btn quit">Wyjdź</a>
        <button class="rect-btn replay" disabled>Zagraj ponownie</button>
      </div>
    </div>

    <!-- -------------- footer -------------- -->
    <footer>Artur Pas 2023 <a href="https://github.com/Pasek108/TicTacToe"><i class="fa-brands fa-github"></i></a></footer>

    <script src="static/scripts/ComputerEnemy.js"></script>
    <script src="static/scripts/Board.js"></script>
    <script src="static/scripts/Game.js"></script>
    <script src="static/scripts/NormalMode.js"></script>
    <script src="static/scripts/MovableMode.js"></script>
    <script src="static/scripts/OneMarkMode.js"></script>
    <script src="static/scripts/Menu.js"></script>
    <script src="static/scripts/global.js"></script>
  </body>
</html>
