<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-control" content="public" />

    <title>TicTacToe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />

    <link rel="stylesheet" href="static/style/css/global.css" />
    <link rel="stylesheet" href="static/style/css/header.css" />
    <link rel="stylesheet" href="static/style/css/menu.css" />
    <link rel="stylesheet" href="static/style/css/multiplayer.css" />
    <link rel="stylesheet" href="static/style/css/game.css" />
  </head>

  <body>
    <!--
    <div class="info-button">
      <i class="fa-solid fa-info"></i>
    </div>
    <div class="info"></div>-->

    <!-- -------------- header -------------- -->
    <header>
      <h1><a href="/">TicTacToe</a></h1>
      <div class="language">
        <img class="active-lang-img" src="static/images/pl.png" alt="polish-flag" />
        <div class="arrow"><i class="fa-solid fa-angle-up"></i></div>

        <div class="languages-list">
          <div data-lang="pl">
            <img src="static/images/pl.png" alt="polish-flag" />
            <span>PL</span>
          </div>

          <div data-lang="en">
            <img src="static/images/en.png" alt="english-flag" />
            <span>EN</span>
          </div>
        </div>
      </div>
    </header>

    <!-- -------------- lobby -------------- -->
    <div class="lobby">
      <h2>Multiplayer</h2>

      <div class="header">
        <table>
          <tr>
            <th class="id">Id</th>
            <th class="mode">
              <span class="pl">Tryb</span>
              <span class="en">Mode</span>
            </th>
            <th class="players"><i class="fa-solid fa-user"></i></th>
            <th class="button"></th>
          </tr>
        </table>
      </div>

      <div class="rooms">
        <table>
          <template id="room-template">
            <tr>
              <td class="id">1</td>
              <td class="mode">
                <div class="normal mode-name">
                  <span class="pl">Normalny</span>
                  <span class="en">Normal</span>
                </div>

                <div class="movable mode-name hidden">
                  <span class="pl">Przesuwany</span>
                  <span class="en">Movable</span>
                </div>

                <div class="one-mark mode-name hidden">
                  <span class="pl">Jeden znak</span>
                  <span class="en">One mark</span>
                </div>

                <div class="marks">XO</div>
                <div class="size">3x3</div>

                <div class="type">
                  <div class="standard type-name">
                    <span class="pl">Standardowy</span>
                    <span class="en">Standard</span>
                  </div>

                  <div class="reverse type-name hidden">
                    <span class="pl">Odwrócony</span>
                    <span class="en">Reverse</span>
                  </div>
                </div>
              </td>
              <td class="players">1/2</td>
              <td class="button">
                <button class="rect-btn join">
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <i class="fa-solid fa-lock"></i>
                </button>
              </td>
            </tr>
          </template>
        </table>
      </div>

      <div class="lobby-buttons">
        <button class="rect-btn create-room">
          <i class="fa-solid fa-plus"></i>
          <span class="pl">Utwórz grę</span>
          <span class="en">Create game</span>
        </button>
        <!--
        <button class="rect-btn create-room">
          <i class="fa-solid fa-rotate-right"></i>
          <span class="pl">Odśwież poczekalnię</span>
          <span class="en">Refresh lobby</span>
        </button>-->
      </div>
      
      <div class="password-modal" style="display: none">
        <h2>
          <span class="pl">Podaj hasło</span>
          <span class="en">Input password</span>
        </h2>

        <input type="text" id="access-password" />

        <div class="row">
          <button class="rect-btn confirm">
            <span class="pl">Potwierdź</span>
            <span class="en">Confirm</span>
          </button>

          <button class="rect-btn cancel">
            <span class="pl">Anuluj</span>
            <span class="en">Cancel</span>
          </button>
        </div>
      </div>

      <div class="create-game-modal" style="display: none">
        <h2>
          <span class="pl">Utwórz nową grę</span>
          <span class="en">Create new game</span>
        </h2>
        <div class="close">X</div>

        <div class="row">
          <div class="mode">
            <span class="pl">
              <select class="mode-input">
                <option value="0">Normalny</option>
                <option value="1">Przesuwany</option>
                <option value="2">Jeden znak</option>
              </select>
            </span>

            <span class="en">
              <select class="mode-input">
                <option value="0">Normal</option>
                <option value="1">Movable</option>
                <option value="2">One mark</option>
              </select>
            </span>
          </div>

          <div class="size">
            <select id="size">
              <option value="2">2x2</option>
              <option value="3" selected>3x3</option>
              <option value="4">4x4</option>
              <option value="5">5x5</option>
              <option value="6">6x6</option>
              <option value="7">7x7</option>
              <option value="8">8x8</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="reverse">
            <label for="reverse">
              <span class="pl">Odwrócony</span>
              <span class="en">Reverse</span>
            </label>

            <input type="checkbox" id="reverse" />
          </div>

          <div class="password">
            <label for="password">
              <span class="pl">Hasło:</span>
              <span class="en">Password:</span>
            </label>

            <input type="text" id="password" />
          </div>
        </div>

        <div class="row">
          <label>
            <span class="pl">Oznaczenia graczy:</span>
            <span class="en">Players marks:</span>
          </label>

          <div class="players-marks">
            <div class="mark">
              <label for="p1-mark">P1</label>
              <input type="text" id="p1-mark" value="X" />
            </div>

            <div class="mark">
              <label for="p2-mark">P2</label>
              <input type="text" id="p2-mark" value="O" />
            </div>
          </div>
        </div>

        <div class="row">
          <label>
            <span class="pl">Zacznij jako:</span>
            <span class="en">Start as:</span>
          </label>

          <div class="starting-player">
            <div class="radio">
              <label for="p1">P1</label>
              <input type="radio" name="start" id="p1" value="0" checked />
            </div>

            <div class="radio">
              <label for="p2">P2</label>
              <input type="radio" name="start" id="p2" value="1" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="switch-side">
            <label for="change">
              <span class="pl">Zmieniaj się co grę</span>
              <span class="en">Change side every game:</span>
            </label>

            <input type="checkbox" id="change" />
          </div>
        </div>

        <button class="rect-btn create">
          <span class="pl">Utwórz</span>
          <span class="en">Create</span>
        </button>
      </div>
    </div>

    <!-- -------------- game -------------- -->
    <div class="game" style="display: none">
      <h2>
        <div class="current-turn message">
          <span class="pl">Kolej gracza <span class="player-turn">1</span></span>
          <span class="en">Player <span class="player-turn">1</span> turn</span>
        </div>

        <div class="winner message hidden">
          <span class="pl">Wygrał gracz <span class="player-win">1</span></span>
          <span class="en">Player <span class="player-win">1</span> win</span>
        </div>

        <div class="draw message hidden">
          <span class="pl">Remis</span>
          <span class="en">Draw</span>
        </div>

        <div class="no-player message hidden">
          <span class="pl">Brak gracza <span class="player-left">1</span></span>
          <span class="en">Waiting for Player <span class="player-left">1</span></span>
        </div>
      </h2>

      <div class="players">
        <div class="p1"><i class="fa-solid fa-user"></i> P1 - <span class="p1-mark">X</span></div>
        <div>
          <span class="pl">Grasz jako</span>
          <span class="en">You play as</span>
          <span class="player-start">P1</span>
        </div>
        <div class="p2"><i class="fa-solid fa-user"></i> P2 - <span class="p2-mark">O</span></div>
      </div>

      <div class="board"></div>

      <div class="mode">
        <div class="normal mode-name">
          <span class="pl">Normalny</span>
          <span class="en">Normal</span>
        </div>

        <div class="movable mode-name hidden">
          <span class="pl">Przesuwany</span>
          <span class="en">Movable</span>
        </div>

        <div class="one-mark mode-name hidden">
          <span class="pl">Jeden znak</span>
          <span class="en">One mark</span>
        </div>

        <div class="marks">XO</div>
        <div class="size">3x3</div>

        <div class="type">
          <div class="standard type-name">
            <span class="pl">Standardowy</span>
            <span class="en">Standard</span>
          </div>

          <div class="reverse type-name hidden">
            <span class="pl">Odwrócony</span>
            <span class="en">Reverse</span>
          </div>
        </div>
      </div>

      <div class="moves-left">
        <span class="pl">Pozostało <span class="moves">16</span> ruchów</span>
        <span class="en"><span class="moves">16</span> moves left</span>
      </div>

      <div class="link">
        <div class="room">
          <div class="room-id">
            <span class="pl">Id pokoju:</span>
            <span class="en">Room id:</span>
          </div>
  
          <div class="id">0</div>
        </div>

        <div class="copy-link">
          <div class="invite">
            <span class="pl">Zaproś gracza</span>
            <span class="en">Invite player</span>
          </div>

          <div class="copied" style="display: none;">
            <span class="pl">Skopiowano link</span>
            <span class="en">Link copied</span>
          </div>
          
        </div>
      </div>

      <div class="buttons">
        <button class="rect-btn quit">
          <span class="pl">Wyjdź</span>
          <span class="en">Quit</span>
        </button>

        <button class="rect-btn replay" disabled>
          <span class="pl">Zagraj ponownie</span>
          <span class="en">Replay</span>
        </button>
      </div>
    </div>

    <!-- -------------- footer -------------- -->
    <footer>
      Created by <a href="https://github.com/Pasek108/TicTacToe">Artur Pas<i class="fa-brands fa-github"></i></a>
    </footer>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="static/scripts/game/ComputerEnemy.js"></script>
    <script src="static/scripts/game/Board.js"></script>
    <script src="static/scripts/game/Game.js"></script>
    <script src="static/scripts/game/NormalMode.js"></script>
    <script src="static/scripts/game/MovableMode.js"></script>
    <script src="static/scripts/game/OneMarkMode.js"></script>
    <script src="static/scripts/multiplayer/Rooms.js"></script>
    <script src="static/scripts/multiplayer/CreateGameModal.js"></script>
    <script src="static/scripts/multiplayer/MultiplayerGame.js"></script>
    <script src="static/scripts/multiplayer/Lobby.js"></script>
    <script src="static/scripts/Language.js"></script>
    <script src="static/scripts/global.js"></script>
  </body>
</html>
