<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-control" content="public" />

    <title>TicTacToe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />

    <link rel="stylesheet" href="static/style/css/global.css" />
    <link rel="stylesheet" href="static/style/css/header.css" />
    <link rel="stylesheet" href="static/style/css/menu.css" />
    <link rel="stylesheet" href="static/style/css/multiplayer.css" />
    <link rel="stylesheet" href="static/style/css/game.css" />
  </head>

  <body>
    <!-- -------------- header -------------- -->
    <header>
      <h1><a href="/">TicTacToe</a></h1>
      <div class="language">
        <img class="active-lang-img" src="static/images/pl.png" alt="polish-flag" />
        <div class="arrow"><i class="fa-solid fa-angle-up"></i></div>

        <div class="languages-list">
          <div data-lang="pl">
            <img src="static/images/pl.png" alt="polish-flag" />
            <span>PL</span>
          </div>

          <div data-lang="en">
            <img src="static/images/en.png" alt="english-flag" />
            <span>EN</span>
          </div>
        </div>
      </div>
    </header>

    <!-- -------------- lobby -------------- -->
    <div class="lobby">
      <h2>Multiplayer</h2>

      <div class="header">
        <table>
          <tr>
            <th class="id">Id</th>
            <th class="mode">Tryb</th>
            <th class="players"><i class="fa-solid fa-user"></i></th>
            <th class="button"></th>
          </tr>
        </table>
      </div>

      <div class="rooms">
        <table>
          <template id="room-template">
            <tr>
              <td class="id">1</td>
              <td class="mode">
                <div class="normal mode-name">
                  <span class="pl">Normalny XO 3x3</span>
                  <span class="en">Normal XO 3x3</span>
                </div>

                <div class="movable mode-name hidden">
                  <span class="pl">Przesuwany XO 3x3</span>
                  <span class="en">Movable XO 3x3</span>
                </div>

                <div class="one-mark mode-name hidden">
                  <span class="pl">Jeden znak X 4x4</span>
                  <span class="en">One mark X 4x4</span>
                </div>

                <div class="type">
                  <div class="standard type-name">
                    <span class="pl">Standardowy</span>
                    <span class="en">Standard</span>
                  </div>

                  <div class="reverse type-name hidden">
                    <span class="pl">Odwrócony</span>
                    <span class="en">Reverse</span>
                  </div>
                </div>
              </td>
              <td class="players">1/2</td>
              <td class="button">
                <button class="rect-btn join">
                  <i class="fa-solid fa-right-to-bracket"></i>
                </button>
              </td>
            </tr>
          </template>
        </table>
      </div>

      <button class="rect-btn create-room">
        <i class="fa-solid fa-plus"></i>
        <span class="pl">Utwórz grę</span>
        <span class="en">Create game</span>
      </button>

      <div class="create-game-modal" style="display: none">
        <h2>
          <span class="pl">Utwórz nową grę</span>
          <span class="en">Create new game</span>
        </h2>
        <div class="close">X</div>

        <span class="pl">
          <select class="mode-input">
            <option value="0">Normalny XO 3x3</option>
            <option value="1">Przesuwany XO 3x3</option>
            <option value="2">Jeden znak X 4x4</option>
          </select>
        </span>

        <span class="en">
          <select class="mode-input">
            <option value="0">Normal XO 3x3</option>
            <option value="1">Movable XO 3x3</option>
            <option value="2">One mark X 4x4</option>
          </select>
        </span>

        <div class="row">
          <div class="checkbox">
            <label for="reverse">
              <span class="pl">Odwrócony</span>
              <span class="en">Reverse</span>
            </label>
            <input type="checkbox" id="reverse" />
          </div>

          <div class="checkbox">
            <label for="password">
              <span class="pl">Hasło:</span>
              <span class="en">Password:</span>
            </label>
            <input type="text" id="password" />
          </div>
        </div>

        <div class="checkbox">
          <label>
            <span class="pl">Zacznij jako:</span>
            <span class="en">Start as:</span>
          </label>

          <div class="radio">
            <input type="radio" name="start" id="p1" value="0" checked />
            <label for="p1">P1</label>
          </div>

          <div class="radio">
            <input type="radio" name="start" id="p2" value="1" />
            <label for="p2">P2</label>
          </div>
        </div>

        <div class="checkbox">
          <label for="change">
            <span class="pl">Zmieniaj się co grę</span>
            <span class="en">Change side every game:</span>
          </label>
          <input type="checkbox" id="change" />
        </div>

        <button class="rect-btn create">
          <span class="pl">Utwórz</span>
          <span class="en">Create</span>
        </button>
      </div>
    </div>

    <!-- -------------- game -------------- -->
    <div class="game" style="display: none">
      <h2>
        <div class="current-turn message">
          <span class="pl">Kolej gracza <span class="player-turn">1</span></span>
          <span class="en">Player <span class="player-turn">1</span> turn</span>
        </div>

        <div class="winner message hidden">
          <span class="pl">Wygrał gracz <span class="player-win">1</span></span>
          <span class="en">Player <span class="player-win">1</span> win</span>
        </div>

        <div class="draw message hidden">
          <span class="pl">Remis</span>
          <span class="en">Draw</span>
        </div>
      </h2>

      <div class="players">
        <div class="p1"><i class="fa-solid fa-user"></i> P1 - <span class="p1-mark">X</span></div>
        <div>
          <span class="pl">Grasz jako</span>
          <span class="en">You play as</span>
          <span class="player-start">P1</span>
        </div>
        <div class="p1"><i class="fa-solid fa-user"></i> P2 - <span class="p2-mark">O</span></div>
      </div>

      <div class="board"></div>

      <div class="mode">
        <div class="normal mode-name">
          <span class="pl">Normalny XO 3x3</span>
          <span class="en">Normal XO 3x3</span>
        </div>

        <div class="movable mode-name hidden">
          <span class="pl">Przesuwany XO 3x3</span>
          <span class="en">Movable XO 3x3</span>
        </div>

        <div class="one-mark mode-name hidden">
          <span class="pl">Jeden znak X 4x4</span>
          <span class="en">One mark X 4x4</span>
        </div>

        <div class="type">
          <div class="standard type-name">
            <span class="pl">Standardowy</span>
            <span class="en">Standard</span>
          </div>

          <div class="reverse type-name hidden">
            <span class="pl">Odwrócony</span>
            <span class="en">Reverse</span>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button class="rect-btn quit">
          <span class="pl">Wyjdź</span>
          <span class="en">Quit</span>
        </button>

        <button class="rect-btn replay" disabled>
          <span class="pl">Zagraj ponownie</span>
          <span class="en">Replay</span>
        </button>
      </div>
    </div>

    <!-- -------------- footer -------------- -->
    <footer>
      Artur Pas 2023 <a href="https://github.com/Pasek108/TicTacToe"><i class="fa-brands fa-github"></i></a>
    </footer>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="static/scripts/game/ComputerEnemy.js"></script>
    <script src="static/scripts/game/Board.js"></script>
    <script src="static/scripts/game/Game.js"></script>
    <script src="static/scripts/game/NormalMode.js"></script>
    <script src="static/scripts/game/MovableMode.js"></script>
    <script src="static/scripts/game/OneMarkMode.js"></script>
    <script src="static/scripts/multiplayer/Rooms.js"></script>
    <script src="static/scripts/multiplayer/CreateGameModal.js"></script>
    <script src="static/scripts/multiplayer/MultiplayerGame.js"></script>
    <script src="static/scripts/multiplayer/Lobby.js"></script>
    <script src="static/scripts/Language.js"></script>
    <script src="static/scripts/global.js"></script>
  </body>
</html>
